<div class="skinny_wrapper container" id="posts_wrapper">
  <% obj.each do |article| %>
  <div class="post">
  	<p class="date"><%= article.created_at.strftime("%A, %b, %d") %></p>
  	<h2><%= link_to article.titulo, article_path(article) %></h2>
  	<small >Creado por: <%= article.user.username if article.user %> </small>
  	
  	<% if article.categories.any? %>
			<p class="badgex">Categorías: <%= render article.categories %> </p>
		<% end %>
  	<% if logged_in? && (current_user == article.user || current_user.admin?)  %>
	  	<div class="article-actions">
				[<%= link_to "Editar" , edit_article_path(article) %>]
				[<%= link_to "Eliminar" , article_path(article), method: :delete,
				data: {confirm: "Are you sure?"}
				%>]
			</div>
		<% end %>
		<hr>
  </div>
  <% end %>
</div>