
<div class="container wrapper_padding skinny_wrapper" id="post_show_content">
			<header>
				
				<p class="date "><%= @article.created_at.strftime("%A, %b, %d") %></p>
				<h1><%= @article.titulo %></h1>
				<p class="subtitulo"><%= @article.subtitulo %></p>
				<hr>
			</header>
			<div id="show_article">
				<div class="article_content">
					<div class="col-md-3 img_article"></div>
					<div class="col-md-8 col-md-offset-1 article_patron">
						<p><%= markdown @article.patron %></p>
						<% if @article.categories.any? %>
							<p>Categorías: <%= render @article.categories %> </p>
						<% end %>
					</div>
					
				</div>
				<hr>
				<div class="article-actions">
					<% if logged_in? && (current_user == @article.user || current_user.admin? ) %>
						[<%= link_to "Editar Artículo" , edit_article_path(@article) %>]
						[<%= link_to "Lista de artículos" , articles_path %>]
						[<%= link_to "Eliminar Artículo" , article_path(@article), method: :delete,
						data: {confirm: "Are you sure?"}
						
						%>]
					<% end %>
				</div>
			</div>
			<hr>
			<div id="share_box">
				<p>Compartir <%= @article.titulo %></p>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
			</div>
	
			
</div>	